<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

body {
	FONT-SIZE: 9pt;
	margin-left:0px;
	margin-top:0px;	
	margin-right:0px;	
	SCROLLBAR-FACE-COLOR: #FF9933; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc; COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #ececec;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #ececec;
	SCROLLBAR-DARKSHADOW-COLOR: #FF9933;
	BACKGROUND-COLOR: #fcfcfc
}
td {
	font-size: 9pt;	line-height:150%;
}
a:hover {
	font-size: 9pt;	color: #0099CC;
}
a{
	font-size: 9pt;
	text-decoration: none;
	color: #3333FF;
}
a.shadow{
	font-family: "ו";
	font-size: 9pt;
	color: #FFFFFF;
}
.word_grey {
	font-size: 9pt;
	color: #FFFFFF;
}
.word_blue {
	font-size: 9pt;
	color: #0033FF;
}
